.answerBadge {
    width: 100px;
    height: 100px;
    background:#DE3831;
    border: 3px solid white;
    box-shadow: 0px 3px 0px 0px black;
    border-radius: 50px;
    text-align: center;
    padding: 35px 10px;
    left:50%;
    color:white;
    font-weight: bold;
    top:5%;
    margin-left:-50px;
    display:none;
    position:absolute;
    z-index:5;
    font-size: 18px;

    &.show {
        display: block;
    }
    &.hide {
        display: none;
    }

    &.right { background:rgb(24,123,57) !important;}

  }
  
  