@import '../../index.scss';

.GameEnd {

    &-title {
        background: $yellow;
        padding: 10px 0;
    }

    &-resultsContainer {
        background: $iceGrey;
        padding: 20px 0 40px 0;
    }

    &-winnerBadge {
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }


}