@import '../../index.scss';

.question {

    margin: 20px 0 40px;

    &_title {
        color:white;
        padding:10px;
        text-align: center;
        font-size: 1.8rem;
    }

    .answer-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .boxAnswer {
        max-width: 600px;
        min-width: 300px;
        display: flex;

        text-shadow: 0 0px 1px black,
                0 0px 1px black,
                0 0px 1px black,
                -1px 1px 0px black,
                -1px 1px 0px black;
    
        &_number {
            text-align: center;
            width: 50px;
            height: 50px;
            line-height: 2.2;
            border-right: 1px dotted white;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            color: white;
            font-size: 1.4rem;
            background-color: $blue;
        }
    
        &_answer {
            padding: 10px 10px 0px 10px;
            color:white;
            width: 100%;
            font-size:1.3rem;
            background-color: $bluelight;
        }
    }

}

