@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}
body {
  background-image:  url(/assets/images/clouds.png), url(/assets/images/power-plant.jpg);
	background-repeat: no-repeat, no-repeat;
	background-position: top center, bottom center;
	background-size: 100% auto;
	font-size: 1.5em;
	font-family: 'Varela Round', sans-serif;
	background-color: #8ed4f8;
	overflow: hidden;
}
