@import '../../index.scss';

.selectAvatar {
    &-Avatar_list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &-item {
            margin-bottom: 4px;
            margin-right: 4px;
        }

        &-item:hover {
            cursor: pointer;
        }
    }

    &-playerData {
        background-color: rgba($color: white, $alpha: 0.5);
        border-radius: 5px;
        padding-top: 20px;
    }

    &-avatar-card {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
}